{{define "header"}}
{{$p := .Path}}
  <header class="article-header">
	<nav>
	<a href="{{.Path}}{{- if ne .Path "/" }}/{{ end }}">{{.RootCrumb}} </a>
	{{- range .Crumbs}}
	<a href="{{joinPath $p .Href}}"> {{.Title}} </a>
	{{- end}}
	{{- if ne .Filename "index" }}
	<span>{{.Filename}}</span>
	{{- end}}
	</nav>
  </header>
{{end}}
