{{define "header"}}
{{$p := .Path}}
  <header class="article-header">
	<nav>
	<a href="{{.Path}}">{{.RootCrumb}} </a>
	{{- range .Crumbs}}
	<a href="{{- if ne $p "/" -}}{{$p}}{{- end -}}/{{.Href}}"> {{.Title}} </a>
	{{- end}}
	{{- if ne .Filename "index" }}
	<span>{{.Filename}}</span>
	{{- end}}
	</nav>
  </header>
{{end}}
