{{define "index"}}
<!DOCTYPE html>
<html>
{{- template "head" . -}}
  <body>
    {{- template "header" .}}
    <div class="content-wrapper">
      <main>
      {{- template "article" .}}
      {{- if eq .Layout "log"}}
      {{- if .Listing}}
      {{- template "log" .}}
      {{end}}
      {{end}}
      </main>
      {{- if or .Backlinks .Listing .Relatedlinks}}
      {{- template "aside" . -}}
      {{- end}}
    </div>
  {{- if .Footer}}
  {{- template "footer" . -}}
  {{- end}}
  </body>
</html>
{{end}}
