{{define "log"}}
    {{- range .Listing }}
      <br><br><br>
      <header>
        {{if .Title -}}
        <h2 class="article-title">{{.Title}}</h2>
        {{- end}}
        {{- if .Description}}
        <p class="article-description">{{.Description}}</p>
        {{- end}}
        {{- if or .Tags .Date}}
        <div class="article-meta">
          {{- if .Date}}
          <div><a><time datetime={{.MachineDate}}>{{.Date}}</time></a></div>
          {{- end -}}
          {{- if .DateUpdated}}
          <div><a><time datetime={{.MachineDateUpdated}}>Upd. {{.DateUpdated}}</time></a></div>
          {{- end -}}
          {{- if .Tags}}
          <div>
            <ul class="article-tags">
            {{- range .Tags}}
              <li>
                <a href="/tags.html#{{.}}">#{{.}}</a>
              </li>
            {{- end}}
            </ul>
          </div>
          {{- end}}
        </div>
        {{- end}}
      </header>
{{.Body}}
    {{end}}
{{end}}
